/* Put your CSS here */
.ember-application {
}

.top-search-field {
  padding: 7px 15px;
}

.video-box {
  margin: 4px;
  opacity: 1;
  width: 215px; /*needed for animation; +10 compared to inner image*/
  transition-duration: 0.5s;
  transition: padding none;
}

.video-box-hidden {
  opacity: 0;
  width: 0px;
  padding: 4px 0px;
  margin: 4px 0px;
}

.video-box .img-box {
  overflow: hidden;
}

.video-box .ytimg {
  height: 120px;
  width: 205px;
}

iframe.ytimg {
  display: inline-block;
  vertical-align: middle;
}

.fix-inline-block-ws {
  font-size: 0;
}