/* Put your CSS here */
.ember-application {
}

.top-search-field {
  padding: 7px 15px;
}

iframe {
  display: block;
}

.ytimg {
  height: 120px;
  width: 205px;
}

iframe.ytimg {
  display: inline-block;
  vertical-align: middle;
}
.video-box {
  margin: 4px;

  /*
  float: left;
  transition: all .2s ease-in-out;
  */
}

.fix-inline-block-ws {
  font-size: 0;
}